body{
    background-image: url(Img/img1.jpg);
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
}

#titolo{
    font-size: 60px;
    text-align: center;
}



